body,
html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../ımg/gecit.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

.row {
    display: flex;
    /* Elemanları yan yana dizer */
    align-items: flex-start;
    /* Üstten hizalar (tam senin istediğin!) */
    /* Aralarında boşluk bırakır */
    padding-left: 50px;
    padding-right: 50px;
    gap: 12px;
    margin-bottom: 35px;
}

.column img {
    width: 90%;
    /* Kutuya tam oturur */
    height: auto;
    /* Oranı bozulmaz */
    display: block;
    /* Alt boşluk kalkar */
    border-radius: 10px;

}

.dijital {
    margin-top: 10px;
    /* fotoğraftan boşluk bırakır */
    font-size: xx-large;
    text-align: center;
    /* ortalar */
    color: #b381e3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dijital2 {
    margin-top: 10px;
    /* fotoğraftan boşluk bırakır */
    font-size: xx-large;
    text-align: center;
    /* ortalar */
    color: #b381e3;
    margin-bottom: 50px;
}


.row2 {

    display: flex;
    /* Elemanları yan yana dizer */
    align-items: flex-start;
    /* Üstten hizalar (tam senin istediğin!) */
    /* Aralarında boşluk bırakır */
    padding-left: 50px;
    padding-right: 50px;
    gap: 12px;

}

.column2 img {
    width: 90%;
    /* Kutuya tam oturur */
    height: auto;
    /* Oranı bozulmaz */
    display: block;
    /* Alt boşluk kalkar */
    border-radius: 10px;

}